/* Type Selector */
main {
    display: flex;
    border: solid 1px red;
}

main aside {
    flex: 1;
    border: solid 1px blue;
}

main section {
    flex: 5;
    border: solid 1px green;
    display: flex;
    justify-content: space-around;
}

main section article {
    border: solid 1px lightblue;
    background-color: lightgrey;
    padding: 25px;
}

footer {
    display: flex;
    justify-content: space-around;
}

/* class Selector */

.left-links {
    color: blue;
}

.middle-links {
    color: red;
}

.right-links {
    color: green;
}

/* ID Selector */


/* Attributes Selector */


